---
import Layout from "@/layouts/Layout.astro";
import {LinkForm} from "@/components/react/LinkForm";

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();

    const response = await fetch(`${Astro.url.origin}/api/link`, {
        method: "POST",
        body: formData,
    });
    if (response.ok) {
        const data: {
            url: string;
            short: string;
        
        } = await response.json();
        document.getElementById("shorturl")!.textContent = data.short;
    }
    
}

---

<Layout
title="D-link Shortener"
description="D-link Shortener is a free tool to shorten a URL or reduce a link. Use our URL Shortener to create a shortened link making it easy to remember. Share the short link with others."

>
<main class="max-w-screen-xl sm:mx-auto my-20 mx-4">
    <section class="hero">
        <div class="container">
        <div class="hero__content">
            <h1 class="hero__title">D-link Shortener</h1>
            <p class="hero__description">D-link Shortener is a free tool to shorten a URL or reduce a link. Use our URL Shortener to create a shortened link making it easy to remember. Share the short link with others.</p>
            <LinkForm client:load />
        </div>
        </div>
    </section>
</main>
</Layout>


<style>
.hero {
    @apply flex justify-center items-center w-full h-[80vh];
}

.hero__content {
    text-align: center;
}

.hero__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

.hero__description {
    font-size: 1.25rem;
    color: #333;
    margin-top: 1rem;
}



</style>